Repository SwiftGen/SwiftGen, pull requests merged in 2019-03, with the labels that each got.

#610 CoreData: expand RawRepresentable to non-enum types
  CHANGELOG.md
  Documentation/templates/coredata/swift3.md
  Documentation/templates/coredata/swift4.md
  Tests/Fixtures/Generated/CoreData/swift3/defaults-extraImports.swift
  Tests/Fixtures/Generated/CoreData/swift3/defaults-generateObjcName.swift
  Tests/Fixtures/Generated/CoreData/swift3/defaults-importCoreLocation.swift
  Tests/Fixtures/Generated/CoreData/swift3/defaults-publicAccess.swift
  Tests/Fixtures/Generated/CoreData/swift3/defaults.swift
  Tests/Fixtures/Generated/CoreData/swift4/defaults-extraImports.swift
  Tests/Fixtures/Generated/CoreData/swift4/defaults-generateObjcName.swift
  Tests/Fixtures/Generated/CoreData/swift4/defaults-importCoreLocation.swift
  Tests/Fixtures/Generated/CoreData/swift4/defaults-publicAccess.swift
  Tests/Fixtures/Generated/CoreData/swift4/defaults.swift
  Tests/Fixtures/Resources/CoreData/Model.xcdatamodeld/Model 2.xcdatamodel/contents
  Tests/Fixtures/StencilContexts/CoreData/defaults.yaml
  templates/coredata/swift3.stencil
  templates/coredata/swift4.stencil
Labels: type: enhancement

#620 Strings: generate `Any` parameter type for `%@` placeholders (instead of `String`)
  CHANGELOG.md
  Documentation/templates/strings/flat-swift3.md
  Documentation/templates/strings/flat-swift4.md
  Documentation/templates/strings/structured-swift3.md
  Documentation/templates/strings/structured-swift4.md
  README.md
  Tests/Fixtures/Generated/Strings/flat-swift3/localizable-customName.swift
  Tests/Fixtures/Generated/Strings/flat-swift3/localizable-localizeFunction.swift
  Tests/Fixtures/Generated/Strings/flat-swift3/localizable-noComments.swift
  Tests/Fixtures/Generated/Strings/flat-swift3/localizable-publicAccess.swift
  Tests/Fixtures/Generated/Strings/flat-swift3/localizable.swift
  Tests/Fixtures/Generated/Strings/flat-swift3/multiple.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/localizable-customName.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/localizable-localizeFunction.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/localizable-noComments.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/localizable-publicAccess.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/localizable.swift
  Tests/Fixtures/Generated/Strings/flat-swift4/multiple.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/localizable-customName.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/localizable-localizeFunction.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/localizable-noComments.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/localizable-publicAccess.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/localizable.swift
  Tests/Fixtures/Generated/Strings/structured-swift3/multiple.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/localizable-customName.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/localizable-localizeFunction.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/localizable-noComments.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/localizable-publicAccess.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/localizable.swift
  Tests/Fixtures/Generated/Strings/structured-swift4/multiple.swift
  templates/strings/flat-swift3.stencil
  templates/strings/flat-swift4.stencil
  templates/strings/structured-swift3.stencil
  templates/strings/structured-swift4.stencil
Labels: type: bug/fix

#612 Update some outdated code samples #trivial
  Documentation/templates/colors/literals-swift3.md
  Documentation/templates/colors/literals-swift4.md
  Documentation/templates/colors/swift3.md
  Documentation/templates/colors/swift4.md
  Documentation/templates/coredata/swift3.md
  Documentation/templates/coredata/swift4.md
  Documentation/templates/fonts/swift3.md
  Documentation/templates/fonts/swift4.md
  Documentation/templates/ib/scenes-swift3.md
  Documentation/templates/ib/scenes-swift4.md
  Documentation/templates/ib/segues-swift3.md
  Documentation/templates/ib/segues-swift4.md
  Documentation/templates/strings/flat-swift3.md
  Documentation/templates/strings/structured-swift3.md
  Documentation/templates/strings/structured-swift4.md
  README.md
  SwiftGen.playground/Pages/Colors-Demo.xcplaygroundpage/Contents.swift
  SwiftGen.playground/Pages/CoreData-Demo.xcplaygroundpage/Contents.swift
  SwiftGen.playground/Pages/XCAssets-Demo.xcplaygroundpage/Contents.swift
  SwiftGen.playground/Resources/Localizable.strings
  SwiftGen.playground/Resources/Model.momd/Model 2.mom
  SwiftGen.playground/Resources/Model.momd/Model 2.omo
  SwiftGen.playground/Resources/Model.momd/VersionInfo.plist
Labels: type: documentation

#628 Added doc for using env vars in config file #trivial
  Documentation/ConfigFile.md
  README.md
Labels: type: documentation
